%p.debug
  DEBUG:
  = link_to '時間進行', '/game/update/1'
  = link_to 'add 1', '/game/add/1'
  = link_to '10', '/game/add/10'
  = link_to '100', '/game/add/100'
  = link_to '1000', '/game/add/1000'
  = link_to '10000', '/game/add/10000'

%p
  とある国では頬袋により多くを入れるものが尊敬され地位を得るのだという

%p.status
  食料: #{player.foods}
  総ハム数: #{player.hamsters.size + player.field_hamsters.size}
  行動力: #{player.action_num}

%p.commands
  %span.command= link_to "仲間を探す(#{player.wilds})", '/game/hunt'
  %span.command= link_to '生産する', '/game/update/1'
  %span.command= link_to 'バトル！', '/game/battle'

%table.main
  %tr
    %td
      %table.hamstar_rank
        %tr
          %th rank
          %th.home{width: 70} home
          %th.field{width: 70} field
        - Hamster::Data.each.with_index do |data, rank|
          - name, values = data
          %tr
            %th
              = name
              .items
                - item_num = player.items[rank].to_i
                - if item_num > 0
                  = link_to "#{values[:item]}(#{item_num})", "/game/act/#{rank}"
            %td.home.right
              .num= num = player.hamsters_with_rank(rank).size
              - if num > 0
                = link_to '出撃»', "/game/field/#{rank}/#{num}"
                = link_to '1»', "/game/field/#{rank}/1"
              - else
                = '---'
            %td.field.right
              .num= num = player.field_hamsters_with_rank(rank).size
              - if num > 0
                = link_to '«撤退', "/game/escape/#{rank}"
              - else
                = '---'
      
    %td.right_side
      .field_area
        .center.large FIELD
        .hamstars
          - max = 100
          - num = player.field_hamsters.count
          - player.field_hamsters.first(max).each do |ham|
            = ham.wins
          - if num > max
            %br
            非表示のハム
            %b>= num - max
            匹がいます。

%p
  = user_data.player.name
  = link_to 'reset', '/game/reset'
