%p.small
  とある国では頬袋により多くを入れるものが尊敬され地位を得るのだという

%p.status
  食料:#{player.foods}
  お金:#{player.golds}
  行動力:#{player.action_num}
  スコア:#{player.rounded_score}

%p.commands
  %span.command= link_to 'バトル！', '/game/battle'
  %span.command
    - if player.foods > 0 and player.hamsters.size > 0
      = link_to '仕事をする', '/game/work'
    - else
      仕事をする
  %span.command= link_to "仲間を探す(#{player.wilds})", '/game/hunt'
  %span.command= link_to "収穫する(#{player.seeds})", '/game/harvest'

%table.main
  %tr
    %td
      %table.hamstar_rank
        %tr
          %th rank
          %th job
          %th.town{width: 70} town
          %th.field{width: 70} field
        - Hamster::Data.each.with_index do |data, rank|
          - name, values = data
          %tr
            %th= rank
            %th
              = name
              .items
                - item_num = player.items[rank].to_i
                - if item_num > 0
                  = link_to "#{values[:item]}(#{item_num})", "/game/use_item/#{rank}"
            %td.town.right
              .num= num = player.hamsters_with_rank(rank).size
              - if num > 0
                = link_to '出撃»', "/game/field/#{rank}/#{num}"
                = link_to '1»', "/game/field/#{rank}/1"
              - else
                = '---'
            %td.field.right
              .num= num = player.field_hamsters_with_rank(rank).size
              - if num > 0
                = link_to '«撤退', "/game/escape/#{rank}"
              - else
                = '---'
      
    %td.right_side
      .field_area
        .center.large FIELD
        .hamstars
          - max = 100
          - num = player.field_hamsters.count
          - player.field_hamsters.first(max).each do |ham|
            = ham.display
          - if num > max
            %br
            非表示のハム
            %b>= num - max
            匹がいます。
