!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title ham0
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - width = request.env["HTTP_USER_AGENT"][/ipad/i] ? 640 : 480
    %meta{name: "viewport", content: "width=#{width}"}

%p.debug
  DEBUG MODE

= yield

%p.footer
  = link_to 'ham0', '/'
  = link_to 'ranking', '/ranking'
  = '/'
  = user_data.player.name
  = link_to 'reset', '/game/reset'

%p.debug
  DEBUG:
  = link_to '時間進行', '/game/update/1'
  = link_to 'add 1', '/game/add/1'
  = link_to '10', '/game/add/10'
  = link_to '100', '/game/add/100'
  = link_to '1000', '/game/add/1000'
  = link_to '10000', '/game/add/10000'

